:root {
    --color1: #05b1b1;
    --color2: #52339a;
}

section {
    padding: 100px 0;

}

header {
    padding: 200px 0;
}

header, footer {
    background: url(../img/pattern.png), var(--color1);
    background: url(../img/pattern.png), -moz-linear-gradient(left,  var(--color1) 0%, var(--color2) 100%);
    background: url(../img/pattern.png), -webkit-linear-gradient(left,  var(--color1) 0%,var(--color2) 100%);
    background: url(../img/pattern.png), linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
    filter: url(../img/pattern.png), progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=GradientType=1 );
    background-size: contain;
} 

.itd-play {
    background-color: var(--color1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.2s ease;
}

.itd-play:hover {
    background-color: var(--color2);
}

.itd-triangle {
    margin-right: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2);
}

.btn-itd:hover {
    color: var(--bs-white);
    background-color: var(--color1);
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
}

.forwhom,
.learning,
.comments {
    background-color: #eee;
}

.about i {
    font-size: 25px;
    color: var(--color2);
}

.itd-circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}

.forwhom h5 {
    padding: 50px;
    border: 3px solid var(--color1);
}

.learning h5 {
    padding: 50px;
    border: 3px solid var(--color1);
}

.author {
    padding-bottom: 0;
}

.itd-img {
    max-width: 260px;
}
.color1 {
    color: var(--color1);
}

.accordion-button:not(.collapsed) {
    color: var(--bs-white);
    background-color: var(--color2);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.color2 {
    color: var(--color2);
}

.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color2);
}

.adam-img {
    border: 3px solid var(--color1);
    border-radius: 50%;
}

.commentline {
    width: 100px;
    height: 3px;
    background-color: var(--color2);
    margin: 15px auto 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.container .card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    border-radius: 0px;
}





.btn.btn-primary {
    background-color: #ddd;
    color: black;
    box-shadow: none;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.btn.btn-primary:focus {
    box-shadow: none;
}

.card .img-box {
    width: 80px;
    height: 50px;
}

.card img {
    width: 100%;
    object-fit: fill;
}

.card .number {
    font-size: 24px;
}

.card-body .btn.btn-primary .fab.fa-cc-paypal {
    font-size: 32px;
    color: #3333f7;
}

.fab.fa-cc-amex {
    color: #1c6acf;
    font-size: 32px;
}

.fab.fa-cc-mastercard {
    font-size: 32px;
    color: red;
}

.fab.fa-cc-discover {
    font-size: 32px;
    color: orange;
}

.c-green {
    color: green;
}

.box {
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.btn.btn-primary.payment {
    background-color: #1c6acf;
    color: white;
    border-radius: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}


.form__div {
    height: 50px;
    position: relative;
    margin-bottom: 24px;
}

.form-control {
    width: 100%;
    height: 45px;
    font-size: 14px;
    border: 1px solid #DADCE0;
    border-radius: 0;
    outline: none;
    padding: 2px;
    background: none;
    z-index: 1;
    box-shadow: none;
}

.form__label {
    position: absolute;
    left: 16px;
    top: 10px;
    background-color: #fff;
    color: #80868B;
    font-size: 16px;
    transition: .3s;
    text-transform: uppercase;
}

.form-control:focus+.form__label {
    top: -8px;
    left: 12px;
    color: #1A73E8;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-control:not(:placeholder-shown).form-control:not(:focus)+.form__label {
    top: -8px;
    left: 12px;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-control:focus {
    border: 1.5px solid #1A73E8;
    box-shadow: none;
}

footer {
    padding: 30px 0;
}

.ascii {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 50%;
}

.naruto {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; */
